<template name="todosItem">
    <div id="{{_id}}" draggable="true" ondragstart="drag(event)" style="background:white">
        <div class="list-item {{checkedClass}} {{editingClass}}">

            <label class="checkbox">
                <input type="checkbox" checked="{{checked}}" name="checked">
                <span class="checkbox-custom"></span>
            </label>

            <input type="text" value="{{text}}" placeholder="Task name">
            <a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>
        </div>
        <div class="description">{{startAt}} </div>
    </div>
</template>